@use "../variables" as *;


// newsletter
.newsletter {

}

.news-img {
  height:15em;

}

.news-odd {
  background-color: $fade-grey !important;
}

.news-even {
  background-color: $fade-grey !important;
  //background-color: $white !important;
}
